


.header {
  
    display: flex;
    justify-content: space-between;
     
    align-items: center;
    padding: 20px;
    background-color: gray;

}

.logo{

width: 60px;



}

.nav-link{
  
    margin: 0 10px;
      text-decoration: none;


}

h1 {
   
   color: rgb(0, 0, 1);



}

button {
     
    color: brown;


}


















































