



.logo{

width: 60px;



}

#navegacio {
  
    margin: 0 10px;
      text-decoration: none;
   color: gray;

}

h1 {
   
   color: rgb(0, 0, 1);



}

button {
     
    color: brown;


}






footer{
  
 margin-bottom: 15px;
margin-block-end: 15px;
margin: auto


}


body {
 
   background-image: url();
   background-repeat:space ;
   background-size: cover; 
   



}

title{
    border-style: solid;
    border-color: gray;
   border-radius: 5px;
  border-width: 5px;


}




nav{
    display: flex;
    
    justify-content: space-between;


}








































