


.header {
  
    display: flex;
    justify-content: space-between;
     
    align-items: center;
    padding: 50px;
    background-color: rgb(115, 41, 41);

}

.logo{

width: 50px;



}

.nav-link{
  
    margin: 0 10px;
      text-decoration: none;


}

h1 {
   
   color: rgb(0, 0, 1);



}

button {
     
    color: brown;


}


body {
 
   background-image: url(imagenes\service.jpg);
   background-repeat: no-repeat;
   background-size: cover;  
   background-position: center;



}















































